
<div class="container-fluid">
    <div class="row">
        <div class="col-sm"></div>
        <div style="padding: 100px" class="col-sm text-center">
            <h1>Subject Picker</h1>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm text-center">
            <input type="number" id="ra" placeholder="Digite seu RA" class="form-control text-center"/><br><br>
            <button type="button" id="ra_button" class="btn btn-primary btn-lg">Enter</button>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>



<script>
  document.getElementById('ra_button').addEventListener('click', function() {
    console.log('clicked')
    window.location.replace('/' + document.getElementById('ra').value)
  })
</script>
