<header class="HD1">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="15%">&nbsp;</td>
                <td width="70%" align="center">
                    <h1>{{alo}} Escolha de Eletivas TECH para 2018_01</h1>
                </td>
                <td width="15%" align="center">
                    <img src="images/logo-techPNG.png" width="222" height="71" alt="" />
                </td>
            </tr>
        </tbody>
    </table>
</header>
<main class="principal" id="ID_princip">
    <div class="buscaRA">
        <form>
            <label for="RA">RA</label>
            <input type="frm_ra" class="form-control" id="ra" placeholder="Digite o seu RA ">
            <br>
            <button type="submit" class="btn btn-default">Verifique as Eletivas</button>
        </form>
    </div>
    <hr>
    <p style="text-align: center; font-size: medium;">Confira abaixo os dados e verifique se estão corretos. Atente para o número mínimo de Carga Horária (CH) que você deve
        cumprir em 2018_01 em eletivas. Acesse o arquivo que descreve as disciplinas ELETIVAS ESPM e verifique se deseja
        cursar algumas delas.
        <span style="font-weight: bold">ATENÇÃO: </span>
        <span style="color: #FF0000; font-weight: bold;">As disciplinas ELETIVAS ESPM tem CH de 36 horas aula</span>, ou seja, apenas meia noite cada. Então, se desejar fazer
        essas eletivas,
        <span style="font-weight: bold; color: #FF0000;">DEVERÁ ESCOLHER 2 DIFERENTES PARA SOMAR 72</span> horas aula nesse dia e cumprir uma
        <span style="font-weight: bold; color: #FF0000;">NOITE INTEIRA.</span>
    </p>
    <p style="text-align: center; font-size: medium;">Acesse aqui o descritivo das ELETIVAS ESPM para conhecer cada disciplina</p>
    <p style="text-align: center">
        <img src="pdf_dwn.ico" alt="" width="100" height="100" />
    </p>
    <hr>
    <table width="700 px" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr height="30 px">
                <td width="250 px" style="font-weight: bold; font-size: medium;">Nome:</td>
                <td width="10 px">&nbsp;</td>
                <td width="440 px">João da Silva Aguiar Rodrigues de Jesus</td>
            </tr>
            <tr height="30 px">
                <td width="150 px" style="font-weight: bold; font-size: medium;">RA:</td>
                <td>&nbsp;</td>
                <td>11021102</td>
            </tr>
            <tr height="30 px">
                <td width="150 px" style="font-weight: bold; font-size: medium;">Semestre em 2018_01:</td>
                <td>&nbsp;</td>
                <td>5º</td>
            </tr>
            <tr height="30 px">
                <td width="150 px" style="font-weight: bold; font-size: medium;">CH Eletivas a cumprir:</td>
                <td>&nbsp;</td>
                <td>216 ha</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <table width="100%" border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>SEGUNDA</td>
                <td width="5 px">&nbsp;</td>
                <td colspan="3" bgcolor="#C5C5C5">TERÇA</td>
                <td width="5 px">&nbsp;</td>
                <td colspan="3" bgcolor="#783839">QUARTA</td>
                <td width="5 px">&nbsp;</td>
                <td>QUINTA</td>
                <td width="5 px">&nbsp;</td>
                <td colspan="28" bgcolor="#C5C5C5">SEXTA</td>
            </tr>
            <tr style="font-weight: normal; font-size: small;">
                <td width="150 px">DISCIPLINA TRONCO</td>
                <td width="5 px">&nbsp;</td>
                <td width="150 px">TEL-002</td>
                <td width="150 px">TEL-008</td>
                <td width="150 px">TEL-018</td>
                <td width="5 px">&nbsp;</td>
                <td width="150 px">TEL-018</td>
                <td width="150 px">TEL-010</td>
                <td width="150 px">TEL-005</td>
                <td width="5 px">&nbsp;</td>
                <td width="150 px">DISCIPLINA TRONCO</td>
                <td width="5 px">&nbsp;</td>
                <td width="150 px">TEL-003</td>
                <td width="150 px">TEL-007</td>
                <td width="150 px">TEL-011</td>
                <td width="150 px">TEL-015</td>
                <td width="150 px">ELE-019</td>
                <td width="150 px">ELE-018</td>
                <td width="150 px">ELE-017</td>
                <td width="150 px">ELE-016</td>
                <td width="150 px">ELE-015</td>
                <td width="150 px">ELE-014</td>
                <td width="150 px">ELE-013</td>
                <td width="150 px">ELE-012</td>
                <td width="150 px">ELE-011</td>
                <td width="150 px">ELE-010</td>
                <td width="150 px">ELE-009</td>
                <td width="150 px">ELE-008</td>
                <td width="150 px">ELE-007</td>
                <td width="150 px">ELE-006</td>
                <td width="150 px">ELE-005</td>
                <td width="150 px">ELE-004</td>
                <td width="150 px">ELE-003</td>
                <td width="150 px">ELE-002</td>
                <td width="150 px">ELE-001</td>
            </tr>
            <tr style="font-weight: normal; font-size: small;">
                <td width="150 px" bgcolor="#888888">&nbsp;</td>
                <td width="5 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="5 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="5 px">&nbsp;</td>
                <td width="150 px" bgcolor="#888888">&nbsp;</td>
                <td width="5 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <td width="150 px">&nbsp;</td>
                <tr>

        </tbody>
    </table>


</main>