<div class="login">
  <div class="banner" style="background-image: url('/images/graduation.png')">
    <div class="infobox">
      <div class="infobox-content">
        <img src="/images/logo.png" alt="Logo ESPM" class="infobox-logo">
        <h1 class="infobox-title">Olá aluno!</h1>
        <p class="infobox-text">Seja bem vindo ao portal de seleção de matérias, para selecionar suas matérias seletivas digite seu RA no campo abaixo</p>
      </div>
      <div class="infobox-form">
        <input id="ra" class="field" type="text" placeholder="Digite seu RA">
        <button class="button" onClick="goToList()">Entrar</button>
      </div>
    </div>
  </div>
</div>
